apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      imagePullSecrets:
        - name: ghcr-pull   # remove this line if image is public
      containers:
        - name: webapp
          image: ghcr.io/asif065/webapp:latest
          ports:
            - containerPort: 80

          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"

          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6

          env:
            - name: APP_ENV
              value: production
            - name: APP_DEBUG
              value: "false"
            # IMPORTANT for HTTPS behind Ingress
            - name: APP_URL
              value: "https://asifakter.com"
            - name: ASSET_URL
              value: "https://asifakter.com"
            - name: APP_KEY
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: APP_KEY

            - name: DB_CONNECTION
              value: mysql
            - name: DB_HOST
              value: mysql
            - name: DB_PORT
              value: "3306"
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: DB_DATABASE
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: DB_PASSWORD

            - name: SESSION_DRIVER
              value: database
            - name: CACHE_STORE
              value: file
            - name: MAIL_MAILER
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: MAIL_MAILER
            - name: MAIL_HOST
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: MAIL_HOST
            - name: MAIL_PORT
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: MAIL_PORT
            - name: MAIL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: MAIL_USERNAME
            - name: MAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: MAIL_PASSWORD
            - name: MAIL_ENCRYPTION
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: MAIL_ENCRYPTION
            - name: MAIL_FROM_ADDRESS
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: MAIL_FROM_ADDRESS
            - name: MAIL_FROM_NAME
              valueFrom:
                secretKeyRef:
                  name: webapp-secret
                  key: MAIL_FROM_NAME
---
apiVersion: v1
kind: Service
metadata:
  name: webapp
  namespace: webapp
spec:
  type: ClusterIP
  selector:
    app: webapp
  ports:
    - port: 80
      targetPort: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: webapp-ingress
  namespace: webapp
  annotations:
    #nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/from-to-www-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - asifakter.com
        - www.asifakter.com
      secretName: webapp-tls
  rules:
    - host: asifakter.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: webapp
                port:
                  number: 80
    - host: www.asifakter.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: webapp
                port:
                  number: 80